<div class="contact_container">
  <div class="contact_icon_container">
    <div class="contact_icon_container_1" *ngFor="let i = index; let contact of contacts"
         (mouseover)="contact.isHovered=true" (mouseout)="contact.isHovered=false" (click)="contactsClicked(contact.id)">
      <img [ngClass]="{'contact_icon_hovered': contact.isHovered}" class="contact_icon" src={{contact.url}}>
      <span [ngClass]="{'contact_icon_text_hovered': contact.isHovered}" class="contact_icon_text">{{contact.text}}</span>
    </div>
  </div>
</div>
