<div class="home_container">
  <div class="home_title">Hello, I'm Samuel Software developer</div>
  <div class="home_subtitle">Graduate of a engineering degree specializing in computer science and electronics,
   I'm Fascinated about new technologies I am particularly fond of IT development but also of computer science.
    Actually employed as a Software Engineer at Key Consulting, I love to learn new technologies, frameworks or languages
    in order to create new applications and gain experience in IT development.
  </div>
</div>
