/* You can add global styles to this file, and also import other style files */
body{
  margin : 0px 0px 0px 0px;
}
.element::-webkit-scrollbar { width: 0 !important }
.element { overflow: -moz-scrollbars-none; }
.element { -ms-overflow-style: none; }

@font-face {
  font-family: "Raleway Italic";
  src: url("./assets/fonts/Raleway-Italic.ttf");
}

@font-face {
  font-family: "Raleway Light";
  src: url("./assets/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Regular.ttf");
}


@font-face {
  font-family: "Raleway Light Italic";
  src: url("./assets/fonts/Raleway-LightItalic.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("./assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway Bold Italic";
  src: url("./assets/fonts/Raleway-BoldItalic.ttf");
}

@font-face {
  font-family: "Raleway Black";
  src: url("./assets/fonts/Raleway-Black.ttf");
}

@font-face {
  font-family: "Raleway Black Italic";
  src: url("./assets/fonts/Raleway-BlackItalic.ttf");
}

@font-face {
  font-family: "Raleway Medium";
  src: url("./assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Raleway Medium Italic";
  src: url("./assets/fonts/Raleway-MediumItalic.ttf");
}

@font-face {
  font-family: "Raleway Regular";
  src: url("./assets/fonts/Raleway-Regular.ttf");
}

