<div class="workExperience_container">
  <div class="experience1">
    <img class="img_sopra" id="key" src="/assets/keykeykey.jpeg">
    <li class="resume_text">
      Software Engineer at Key Consulting (Spain, December – Now)​
      <ol style="list-style: circle;">
        <li class="resume_text" id="subtitle">
          Role : Engineer for INSEE France.
        </li>
        <br/>
        <li class="resume_text" id="subtitle">
          Technologies : Angular, Java EE, Spring, Hibernate​.
        </li>
      </ol>
    </li>
    <br/>
  </div>
  <div class="experience2">
    <img class="img_sopra" src="/assets/i9PP8qRa.jpg">
    <li class="resume_text">
      JEE Engineer at Sopra Steria (Spain, March – Now)​
      <ol style="list-style: circle;" >
        <li class="resume_text" id="subtitle">
           Role : JEE developer for the client GIP-MDS.
        </li>
        <br/>
        <li class="resume_text" id="subtitle">
          Technologies : Java EE, Spring, Hibernate​, SQL, JQuery.​
        </li>
      </ol>
    </li>
    <br/>
  </div>
  <div class="experience2" >
    <img class="img_sopra" id="cvut" src="/assets/cvut.gif">​
    <li class="resume_text">Animation of sign languages project (Czech Republic, July – November 2017)​
      <br/>
      at CVUT Technical University of Prague
      <ol style="list-style: circle;">
        <li class="resume_text" id="subtitle">
          Role : JEE developer for the client GIP-MDS.
        </li>
        <br/>
        <li class="resume_text" id="subtitle">
          Technologies : Matlab, SQL.​
        </li>
      </ol>
    </li>
  </div>


</div>
