<div class="resume_container">
  <div class="resume_title_container">
    <div *ngIf="click != ''"
         [ngClass]="{'selector_left':click == 'workExperience',
         'selector_middle':click == 'qualifications',
         'selector_right':click == 'projects'}">
    </div>
    <div class="resume_title" (click)="workExperienceIsClicked();"
         [ngClass]="{'resume_title_selected':click == 'workExperience'}">Work experience</div>
    <div class="resume_title" (click)="qualificationsIsClicked();"
         [ngClass]="{'resume_title_selected':click == 'qualifications' }">Qualifications</div>
    <div class="resume_title" (click)="projectsIsClicked();"
         [ngClass]="{'resume_title_selected':click == 'projects' }">Projects</div>
  </div>
  <workexperience-component [ngClass]="{'resume_text_container_visible':click == 'workExperience'}" class="resume_text_container" id="workExperience">

  </workexperience-component>
  <qualifications-component [ngClass]="{'resume_text_container_visible':click == 'qualifications'}" class="resume_text_container" id="qualifications">

  </qualifications-component>
  <div [ngClass]="{'resume_text_container_visible':click == 'projects'}" class="resume_text_container" id="projects">
    <li class="resume_text">
      Interests in all type of new technologies, reading of many articles.
    </li>
    <li class="resume_text">
      Passion for music in general. Meber of a little label beLow.
    </li>
    <li class="resume_text">
      Very active sport-wise : swimming, basketball, handball and squash.
    </li>
  </div>
</div>
