<div class="qualifications_container">
  <div class="qualifications">
    <img src="/assets/eseo.png" class="img_eseo">
    <li class="resume_text">
    Degree specializing in computer science at ESEO Angers​
    <br/><br/>
    Electronics and computer science engineering school (2016 – 2019)​
    <ol style="list-style: circle;">
      <li class="resume_text" id="subtitle">
        Team management, Electronics and computer science engineering,
        <br/>
        <br/>
        data-science specialty,
        Finance analysis.
      </li>
    </ol>
    </li>
  </div>
  <div class="qualifications">
    <img src="/assets/iut.png" class="img_eseo" id="iut">
    <li class="resume_text">
      HND at IUT Nantes (2014 – 2016)​ Electrical and IT engineering
      <ol style="list-style: circle;">
        <li class="resume_text" id="subtitle">
          Electrical engineering, IT engineering, Industrial computing.
        </li>
      </ol>
    </li>
  </div>
  <div class="qualifications">
    <li class="resume_text">Scientific High School diploma at Lycée Notre-Dame (2011 – 2014)​
      <br/>
      Scientific courses in high school​
      <ol style="list-style: circle;">
        <li class="resume_text" id="subtitle">
          Biology, Mathematics and Physics specialty​.
        </li>
      </ol>
    </li>
  </div>
</div>
